<%- include('../partials/demo_header', {
    title: 'Deployment Demo | 3 Dogs and a Frog',
    headerIcon: 'bi-shield-check',
    pageHeader: 'Deployment Test',
    pageDescription: 'Demonstrating deploy.'                                                                              
}) %>   
        <h1>Deployment Demo</h1>

<%- include('../partials/demo_footer') %>


