<%- include('../partials/demo_header', { 
    title: 'Observability Demo | 3 Dogs and a Frog',
    headerIcon: 'bi-shield-check',
    pageHeader: 'Observability Test',
    pageDescription: 'Demonstrating observability.'
}) %>
	<h1>Observability Demo</h1>

<%- include('../partials/demo_footer') %>
