<%- include('../partials/demo_header', {
    title: 'Security Demo | 3 Dogs and a Frog',
    headerIcon: 'bi-shield-check',
    pageHeader: 'Security Test',
    pageDescription: 'Demonstrating...'                                                                              
}) %>   
        <h1>Security Demo</h1>

<%- include('../partials/demo_footer') %>


